page-login {
.title{
    color : white;
}
.login{
    color:white;
    position : relative;
    text-align: center;
    background: rgba(13,13,13,1);
    border-radius: 10px;
    }
    .item{
        color : white;
    background: rgba(13,13,13,0.6);
    border-radius: 5px;
    }
    ion-input{
    color:white;
    border-bottom: white solid 2px;
    }
}
