<ion-header>
  <ion-navbar >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Question</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="background" *ngIf="map1==false">
	<div id='snow1'></div>
<div id='snow2'></div>
<div id='snow3'></div>
<div padding class="questions">
	<h1> <span class="main-text skew">QUESTIONS_name
    <span class="back-text glitch">QUESTIONS_name</span>
  </span></h1>
 <div padding class="question">
 	<p>{{username}}</p>
 	<ion-item>
 		<ion-label floating>Answer</ion-label>
 	<ion-input type="text" name=""></ion-input>
 	
 	</ion-item>
 	<div >
 	<button ion-button class="center">Submit</button>
 </div>
 	</div>

</div>
</ion-content>
<ion-content padding *ngIf="map1==true">
  <div><h1>Map Hint</h1>
    
      <p>Hint..</p>
    
  </div>
  <map></map>
  <footer> 
    <button ion-button>Submits</button>
 </footer>
</ion-content>

























