page-leaderboard {
.md-header {
  color: rgba(0,0,0,0.54);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: .01em;
  line-height: 1.2em;
}
@font-face {
  font-family: 'Game of Thrones';
  src:  url('src/assets/skins/lightgray/fonts/got.ttf');
}

.md-list-item {
  width: 100%
}
 
.md-list-text {
  width: 100%
}
td {
font-size: 17px;
padding: 15px;
}
th {
  font-size: 15px;
  text-align: center;
}

.data {
    font-size: 17px;
    text-align: center;
}

.tble{
  font-family: 'Game of Thrones';
}



.background {
background-color: #FAEBD7;
background-size: 100vw 100vh;
background-attachment: fixed;
overflow: hidden;
display: block;
}

.text-center{
  font-family: 'Game of Thrones';
  font-size: 15px;
}

.gnu {
  font-family: 'Game of Thrones';
  font-weight: 300;
  color: black;
  text-align: center;
  font-size: 10px;
  margin-top: 20px;
}
}
